BattleTank/Content/StarterContent/
BattleTank/Content/Battleground_sharedassets/
BattleTank/Content/UI/boomtankPG.uasset
BattleTank/Content/UI/boomtankPG_Font.uasset
BattleTank/Content/UI/BT17-Firing-M1A1-tank-in-Djibouti.uasset
